.topnav {
    background-color: rgb(27, 27, 27);
    overflow: hidden;
    width: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 24px;
}

.topnav a.active {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #163972e1;
    color: white;
}

p {
    color:blue;
    background:grey;
    font-style:italic;
}


/*.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

#tdGameTable {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse:separate;
    width: 550px;
    font-size: 20px;
    /*margin-top: 20px;*/
    margin: auto;
}

#ydGameTable {
    justify-content: center;
    align-items: center;
    text-align: center;
    border-collapse:separate;
    width: 550px;
    font-size: 20px;
    margin: auto;
}

tr:nth-child(odd) {
    background-color: #565869;
    color: rgb(57, 136, 240);
}

tr:nth-child(even) {
    background-color: #3f4047;
    color: rgb(57, 136, 240);
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
}


h2 {
    margin:auto;
    text-align: center;
    padding-top: 30px;
    color: white;
}

#NHL {
    width: 50px;
    position: absolute;
    top: 5px;
    left: 10px;
    margin: auto;
    background-repeat: no-repeat;
    opacity: 100%;
}


body {
    /*background-color: rgb(224, 235, 240);*/
    background-color: rgb(39, 42, 44);
    margin:auto;
}
